<mat-card class="song-card">
  <mat-card-title>
    <a
      href="https://www.clubdam.com/karaokesearch/songleaf.html?requestNo={{
        song.damRequestNo
      }}"
      target="_blank"
      rel="noopener noreferrer"
      class="song-title"
    >
      {{ song.title }}
    </a>
  </mat-card-title>

  <mat-card-subtitle>
    {{ song.artist }}
    <br />
    DAM:&nbsp;{{ song.damRequestNo }}
  </mat-card-subtitle>

  <mat-card-actions align="end">
    <a
      [href]="this.getReserveIntentUrl()"
      target="_blank"
      rel="noopener noreferrer"
      mat-button
    >
      予約
    </a>
    <!-- 機能未実装のためコメントアウト -->
    <!-- <button mat-button>お気に入り</button> -->
  </mat-card-actions>
</mat-card>
