.live-event-card {
  margin-top: 20px;

  & + .live-event-card {
    margin-top: 30px;
  }

  .live-event-title {
    color: #333;
    padding: 0;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: initial;

    @media screen and (max-width: 599px) {
      font-size: 20px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
