<section>
  <h2>本サービスについて</h2>
  <p>
    本サービスは、個人で開発しているものであり、第一興商およびアイドルマスター運営とは関係ありません。
  </p>
  <p>
    本プロジェクトは、GitHubの
    <a href="https://github.com/tkamada022/otokara" target="_blank"> otokara</a>
    リポジトリにて開発しています。
  </p>
</section>

<section>
  <h2>ライセンスについて</h2>
  <p>
    ライブに関する情報は、
    <a href="https://api.fujiwarahaji.me/doc/" target="_blank" rel="noopener">
      ふじわらはじめAPI
    </a>
    から取得し、
    <a
      href="http://creativecommons.org/licenses/by-nc/4.0/"
      target="_blank"
      rel="noopener"
    >
      クリエイティブ・コモンズ 表示 - 非営利 4.0 国際 ライセンス
    </a>
    に基づいて使用しています。
  </p>
</section>
