<!-- 検索結果の概要 -->
<ng-container *ngIf="this.searchType != 'all'">
  <div *ngIf="this.songs" class="song-list">
    <p>
      <span *ngIf="this.searchType == 'keyword'">
        キーワード「{{ this.searchParams.keyword }}」 を含む検索結果が{{
          this.songs.length
        }}件見つかりました。
      </span>
      <span *ngIf="this.searchType == 'songName'">
        曲名「{{ this.searchParams.songName }}」 を含む検索結果が{{
          this.songs.length
        }}件見つかりました。
      </span>
    </p>
    <h2 *ngIf="this.searchType == 'liveEvent'">
      {{ this.liveEvent?.title }}
    </h2>
  </div>
</ng-container>

<!-- 検索中のアニメーション -->
<div class="search-loading" *ngIf="this.songs == undefined">
  検索中...<br />
  <div class="moving-shoes-container">
    <img class="moving-shoes" src="/assets/shoes.png" />
  </div>
</div>

<!-- 検索結果 (楽曲リスト) -->
<div class="song-list">
  <!-- 楽曲カード (SongCardComponent) -->
  <app-song-card *ngFor="let song of this.songs" [song]="song"></app-song-card>
</div>
