.toolbar {
  background-color: #F48FB1;

  &__title {
    margin: 0 auto;

    >a {
      color: white;
      text-decoration: none;
    }

    &--small {
      font-size: 0.3em;
    }
  }
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 30px auto 0;
}
