.toolbar {
  background-color: #f48fb1;

  &__title {
    margin: 0 auto;
    font-size: 1.6rem;

    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
    }

    > a {
      color: white;
      text-decoration: none;
    }

    &--small {
      font-size: 0.5em;
    }
  }

  .info-icon {
    color: white;
  }
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 30px auto 0;
}
