/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans JP", "Helvetica Neue", sans-serif;
}

// Material Designのフォントをカスタマイズ
$myapp-typography: mat.define-typography-config(
  $font-family: "Noto Sans JP",
);
@include mat.core($myapp-typography);
