<!-- 楽曲検索フォーム (SongSearchFormComponent) -->
<app-song-search-form></app-song-search-form>

<!-- ブランド選択 (全ブランドのトップページの場合のみ) -->
<div class="brand-selector" *ngIf="this.brandName == 'all'">
  <p>
    新着順で曲を探したり、ライブから曲を探すには、<br
      class="sp-only"
    />ブランドを選択してください
  </p>

  <div class="brand-select-cards">
    <!-- シンデレラガールズ -->
    <a routerLink="/cg">
      <mat-card
        class="brand-select-card"
        (click)="this.onImasBrandChange('cg')"
        style="background-color: #2581c7"
      >
        <mat-card-title class="title"> CINDERELLA GIRLS </mat-card-title>
      </mat-card>
    </a>

    <!-- シャイニーカラーズ -->
    <a routerLink="/sc">
      <mat-card class="brand-select-card" style="background-color: #8dbbfe">
        <mat-card-title class="title">SHINY COLORS </mat-card-title>
      </mat-card>
    </a>

    <!-- 765PRO -->
    <a routerLink="/765">
      <mat-card class="brand-select-card" style="background-color: #faadb9">
        <mat-card-title class="title">765 PRO</mat-card-title>
      </mat-card>
    </a>

    <!-- Side M -->
    <a>
      <mat-card
        class="brand-select-card disabled"
        style="background-color: #13be93"
      >
        <mat-card-title class="title">SideM </mat-card-title>
      </mat-card>
    </a>
  </div>
</div>
<!---->

<!-- TOPページ用楽曲リスト (ブランド別トップページの場合のみ) -->
<mat-tab-group
  mat-align-tabs="end"
  (selectedTabChange)="this.onSelectedTabChange($event)"
  [selectedIndex]="this.tabIndex"
  *ngIf="this.brandName != 'all'"
>
  <!-- 人気順の楽曲リスト -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>show_chart</mat-icon>
    </ng-template>

    <!-- 検索結果 (SongListComponent) -->
    <app-song-list
      searchType="all"
      [searchParams]="{ brandName: this.brandName }"
      [sortType]="undefined"
    ></app-song-list>
  </mat-tab>

  <!-- 新着順の楽曲リスト -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>event</mat-icon>
    </ng-template>

    <!-- 検索結果 (SongListComponent) -->
    <app-song-list
      searchType="all"
      [searchParams]="{ brandName: this.brandName }"
      sortType="newer"
    ></app-song-list>
  </mat-tab>

  <!-- 50音順の楽曲リスト -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>sort_by_alpha</mat-icon>
    </ng-template>

    <!-- 検索結果 (SongListComponent) -->
    <app-song-list
      searchType="all"
      [searchParams]="{ brandName: this.brandName }"
      sortType="alphabetical"
    ></app-song-list>
  </mat-tab>

  <!-- ライブ一覧 -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>stadium</mat-icon>
    </ng-template>

    <!-- ライブ一覧 (LiveEventListComponent) -->
    <app-live-event-list [brandName]="this.brandName"></app-live-event-list>
  </mat-tab>
</mat-tab-group>
