<!-- 楽曲検索フォーム (SongSearchFormComponent) -->
<app-song-search-form></app-song-search-form>

<!-- ブランド選択 (全ブランドのトップページの場合のみ) -->
<div *ngIf="this.brandName == 'all'">
  新着順や、ライブ別の曲を表示するには、ブランドをお選びください:

  <ul>
    <li (click)="this.onImasBrandChange('cg')">CINDERELLA GIRLS</li>
    <li (click)="this.onImasBrandChange('sc')">SHINY COLORS</li>
  </ul>
</div>
<!---->

<!-- TOPページ用楽曲リスト (ブランド別トップページの場合のみ) -->
<mat-tab-group
  mat-align-tabs="end"
  (selectedTabChange)="this.onSelectedTabChange($event)"
  [selectedIndex]="this.tabIndex"
  *ngIf="this.brandName != 'all'"
>
  <!-- 人気順の楽曲リスト -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>show_chart</mat-icon>
    </ng-template>

    <!-- 検索結果 (SongListComponent) -->
    <app-song-list
      searchType="all"
      [searchParams]="{ brandName: this.brandName }"
      [sortType]="undefined"
    ></app-song-list>
  </mat-tab>

  <!-- 新着順の楽曲リスト -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>event</mat-icon>
    </ng-template>

    <!-- 検索結果 (SongListComponent) -->
    <app-song-list
      searchType="all"
      [searchParams]="{ brandName: this.brandName }"
      sortType="newer"
    ></app-song-list>
  </mat-tab>

  <!-- 50音順の楽曲リスト -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>sort_by_alpha</mat-icon>
    </ng-template>

    <!-- 検索結果 (SongListComponent) -->
    <app-song-list
      searchType="all"
      [searchParams]="{ brandName: this.brandName }"
      sortType="alphabetical"
    ></app-song-list>
  </mat-tab>

  <!-- ライブ一覧 -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>stadium</mat-icon>
    </ng-template>

    <!-- ライブ一覧 (LiveEventListComponent) -->
    <app-live-event-list [brandName]="this.brandName"></app-live-event-list>
  </mat-tab>
</mat-tab-group>
