<div *ngIf="this.searchType != 'none' && this.songs" class="song-list">
  <p>
    <span *ngIf="this.searchType == 'keyword'">
      キーワード「{{ this.searchParams.keyword }}」 を含む検索結果が{{
        this.songs?.length
      }}件見つかりました。
    </span>
    <span *ngIf="this.searchType == 'songName'">
      曲名「{{ this.searchParams.songName }}」 を含む検索結果が{{
        this.songs?.length
      }}件見つかりました。
    </span>
  </p>
</div>

<div
  class="search-loading"
  *ngIf="this.searchType != 'none' && this.songs == undefined"
>
  検索中...<br />
  <div class="moving-shoes-container">
    <img class="moving-shoes" src="/assets/shoes.png" />
  </div>
</div>

<div class="song-list">
  <mat-card *ngFor="let song of this.songs" class="song-card">
    <mat-card-title>
      <a
        href="https://www.clubdam.com/karaokesearch/songleaf.html?requestNo={{
          song.damRequestNo
        }}"
        target="_blank"
        rel="noopener noreferrer"
        class="song-title"
      >
        {{ song.title }}
      </a>
    </mat-card-title>

    <mat-card-subtitle>
      {{ song.artist }}
      <br />
      DAM:&nbsp;{{ song.damRequestNo }}
    </mat-card-subtitle>

    <mat-card-actions align="end">
      <a
        [href]="this.getReserveIntentUrl(song)"
        target="_blank"
        rel="noopener noreferrer"
        mat-button
      >
        予約
      </a>
      <button mat-button>お気に入り</button>
    </mat-card-actions>
  </mat-card>
</div>
